.footer {
    background-color: #131A22;
    padding-top: 30px;
    padding-bottom: 30px;
}

.row__container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;

}

.title {
    color: white;
    font-size: 10px;
    font-weight: 400;
}

.information {
    color: #969696;
    font-size: 10px;
}

.bottomText {
    text-align: center;
}