p {
    margin: 5px;
}

.productDetails {
    display: flex;
    flex-direction: row ;
}

.productDetails__otherImages {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;

}

.productDetails__otherImagesText {
    color: #636565;
    font-size: 9px;
    font-weight: 600;
}

.mainImage {
    position: relative;
    width: 350px;
    height: 350px;
    object-fit: scale-down;
}

.mainImage__click {
    visibility: hidden;
}

.mainImage:hover .mainImage__click {
    visibility: visible;
}

.mainImage:hover .mainImage__click2 {
    position: absolute;
    visibility: hidden;
}

.coupon {
    width: 60px;
    height: 20px;
    object-fit: scale-down;
}

.productDetails__imgContainer {

    font-size: 12px;
}

.enlargeImage {
    margin-bottom: 10px;
}

.enlargeImage2 {
    margin: 25px;
}

.IosShareIcon {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
}

.enlargeImage:hover {
    -moz-box-shadow: 0 0 5px #E57100;
    -webkit-box-shadow: 0 0 5px #E57100;
    box-shadow: 0px 0px 5px #E57100;
}

.productDetails__descriptionContainer {
    display: flex;
    flex-direction: column;
}

.productDetails2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.productDetails__itemInformation {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.productDetails__itemInformation2 {
    display: flex;
    flex-direction: column;
}

.considerASimilarItem {
    width: 130px;
    height: 130px;
    object-fit: scale-down;
}

.blueText {
    color: #207A8C;
}

.greenText {
    color: #3D882F;
}

.greenText2 {
    color: #1A7F64;
}

.redText {
    display: flex;
    flex-wrap: nowrap;
    color: #B2290B;
}

.grayText {
    color: #636565;
}

.bold {
    font-weight: 700;
}

.largeFont {
    font-size: 1.5rem;
}

.pointer:hover {
    cursor: pointer;
}

.hover:hover {
    color: #C54B11;
}

.underline:hover {
    text-decoration: underline;
}

.overflow {
    display: inline-block
}