.back {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.footer__container{
    height: 100%;
    background-color: #232f3E;
    color: white;
    display: flex;
    justify-content: center;
    /* grid-template-columns: 3fr 3fr 3fr 3fr; */
}

.footer__container__categories {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;

}

.footer__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__hover{
    display: flex;
    margin-top: 5%;


}

.footer__hover:hover {
    text-decoration: underline;
    color: white;
}

.footer__dropDown {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-top: solid #0f1111;
    height: 100%;
    background-color: #232f3E;

}

.logo {
    width: 112px;
    height: 46px;
    margin-right: 8%;
}

.dropdown__language {
    background-color: #004B91;
    margin: 0, 4, 0, 0px;
    padding: 6, 18, 6,8px;
    color: #004B91;
    font-size: 13px;
    height: 18px;
}
