.SearchResultProductPage {
    display: flex;
    flex-direction: column;
    width: 80%
}

.SearchResultProductContainer {
    display: flex;
    flex-direction: row;
}

.SearchResultProduct {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    max-height: 500px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 3px;
}